@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Reenie Beanie";
  src: url("../public/font/ReenieBeanie-Regular.ttf");
}

* {
  user-select: none;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.stickeynote {
  display: box;
  
  line-clamp: 3;
  box-orient: vertical;
  overflow: hidden;
  
}